{% extends "base.html"%}
{% load staticfiles %}
{% block head %}
<style>
.bg-image--18{
    background:url('/media/{{rest.image}}');background-size: 100% 100%;
}
.single__food__list {
  margin-top: 40px; }
  .single__food__list .food__list__thumb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 470px; }
    .single__food__list .food__list__thumb a {
      display: block;
      position: relative; }
      .single__food__list .food__list__thumb a::before {
        background: #d50c0d none repeat scroll 0 0;
        content: "";
        height: 5px;
        left: 0;
        position: absolute;
        top: 0;
        width: 80px;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      .single__food__list .food__list__thumb a img {
        width: 100%; }
  .single__food__list .food__list__inner {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 40px; }
    .single__food__list .food__list__inner .food__list__details {
      -webkit-flex-basis: 75%;
      -moz-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%; }
      .single__food__list .food__list__inner .food__list__details h2 {
        border-bottom: 1px dashed #6f6f6f;
        color: #333333;
        font-size: 26px;
        margin-bottom: 17px;
        padding-bottom: 22px;
        position: relative;
        text-transform: capitalize;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      .single__food__list .food__list__inner .food__list__details p {
        color: #959595;
        font-size: 14px;
        margin-bottom: 20px; }
    .single__food__list .food__list__inner .food__rating {
      -webkit-flex-basis: 20%;
      -moz-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
      -webkit-align-self: flex-start;
      -moz-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      padding-top: 29px; }
      .single__food__list .food__list__inner .food__rating .list__food__prize span {
        color: #d50c0d;
        display: inline-block;
        font-family: "Alegreya", serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 45px;
        margin-bottom: 26px; }

.single__food__list:hover .food__list__details h2 {
  border-bottom: 1px dashed #f10; }

.single__food__list:hover .food__list__thumb a::before {
  width: 100%; }

</style>
{% endblock %}
{% block body %}
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--18">
        <div class="ht__bradcaump__wrap d-flex align-items-center">
            <div class="container p-3">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 text-light">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title text-light mt-5">{{rest.name}}</h2>
                            <nav class="bradcaump-inner">
                              <a class="breadcrumb-item text-light" href="{% url 'index' %}">Home</a>
                              <span class="brd-separetor text-light"><i class="zmdi zmdi-long-arrow-right"></i></span>
                              <span class="breadcrumb-item active text-light">menu List view</span>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-4" style="background:rgba(0,0,0,0.5);color:white;">
                        
                            <table class="table table-striped text-center">
                                <tr>
                                        <th>Email</th>
                                        <td>{{rest.email}}</td>
                                    </tr>
                                    <tr>
                                        <th>Cuisine</th>
                                        <td>{{rest.cuisine}}</td>
                                    </tr>
                                    <tr>
                                        <th>Phone</th>
                                        <td>{{rest.phone}}</td>
                                    </tr>
                                    <tr>
                                        <th>City</th>
                                        <td>{{rest.city}}</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>{{rest.address}}</td>
                                    </tr>
                                    <tr>
                                        <th>Open At</th>
                                        <td>{{rest.open_at}}</td>
                                    </tr>
                                    <tr>
                                        <th>Closes At</th>
                                        <td>{{rest.closes_at}}</td>
                                    </tr>
    
                        </table>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area --> 
    <!-- Start Menu Grid Area -->
    <section class="food__menu__grid__area section-padding--lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="my-3">Here is Menu of {{rest.name}}</h2>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="food__nav nav nav-tabs" role="tablist">
                                {% for i in  cats %}
                                <a id="nav-{{i.id}}-tab" data-toggle="tab" href="#nav-{{i.id}}" role="tab" onclick ="getproduct('{{i.id}}','{{rest.id}}')">{{i.name }}</a>
                                {% endfor %}
                
                            </div>
                        </div>
                    </div>
                    <div class="row mt--30">
                        <div class="col-lg-12">
                            <div class="fd__tab__content" id="contents">
                                
                            </div>
                        </div>
                    </div>
                </div>
                


            </div>
            
        </div>
        <div id='ccc'>

        </div>
    </section>
    <script>
            function getproduct(ab,rid){    
                    $.ajax({
                        url:'{% url "mysite:get_item"%}',
                        type:'get',
                        data:{id:ab,rid:rid},
                        success:function(data){
                            aa='';
                            for(i in data){
                                aa+='<div class="food__list__tab__content tab-pane fade show" id="nav-'+data[i].id+'" role="tabpanel">';                                
                                aa+='<div class="single__food__list d-flex wow fadeInUp row">';
                                aa+='<div class="food__list__thumb col-md-6">';
                                aa+='<a href="'+data[i].id+'">';
                                aa+='<img src="/media/'+data[i].image+'" alt="list food images" width="100%" height="300"></a>';
                                aa+='</div>';
                                aa+='<div class="food__list__inner d-flex align-items-center col-md-6 justify-content-between">';
                                aa+='<div class="food__list__details">';
                                aa+='<h2><a href="'+data[i].id+'">'+data[i].item_name+'</a></h2>';
                                aa+='<p><strong>Ingredients:</strong> '+data[i].ingredients+'</p><small>'+data[i].id+'</small>';
                                aa+='<p><strong>Course:</strong> '+data[i].course+'</p>';
                                aa+='<p><strong>Type:</strong><span class="text-danger">'+data[i].type+'</span></p>';
                                aa+='<p><strong>Preparation Time:</strong><span class="text-danger">'+data[i].preparation_time+'</span></p>';
                                aa+='<div class="list__btn">';
                                aa+='<form action="{% url "mysite:cart"%}" method="post">{% csrf_token %}<input type="hidden" name="item_id" value="'+data[i].id+'">';
                                aa+='<input type="hidden" name="amount" value="'+data[i].price+'">';   
                                aa+='<input type="hidden" name="add" value="1">';   
                                aa+='<button class="food__btn grey--btn theme--hover" type="submit">Add To Cart</button>';
                                aa+='</div></div>';
                                aa+='<div class="food__rating">';
                                aa+='<div class="list__food__prize">';
                                aa+='<span>&#8377;'+data[i].price+'</span>';
                                aa +='</div></div></div></div></div>'
                                }
                            $('#contents').html(aa);
                        }
                    });
                }
            $(function(){
                $('#nav-7-tab').click();
            })
        </script>
    <!-- End Menu Grid Area -->
{% endblock %}