{% extends "dashboard.html"%}
{% load staticfiles%}
{% block head %}
<script src="{% static 'jquery.js'%}"></script>
{% endblock %}
{% block body %}
<div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                {% if total is 0 %}
                    <div class="card shadow shadow-lg m-5 p-5 text-center">
                        <h2>No Orders Yet</h2>
                    </div>
                {% else %}
                <h2>All orders <span id="csize">{{total}}</span></h2>
                <p class="alert alert-info">Hey {{user.username}} click on Order's Status Button if order is delivered by you!!</p>
                <form action="#">               
                    <div class="table-content table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="title-top">
                                    <th class="product-thumbnail">Order ID</th>
                                    <th class="product-price">Customer Name</th>
                                    <th class="product-price">Customer Number</th>
                                    <th class="product-quantity">Total Amount</th>
                                    <th class="product-subtotal">Delivered At</th>
                                    <th class="product-subtotal">Payment Method</th>
                                    <th class="product-subtotal">Received On</th>
                                    <th class="product-remove">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- LINK TO APPLY -->
                                {% for i in orders %}
                                <tr>
                                    <td class="product-thumbnail">{{i.id}}</td>
                                    <td class="product-name">
                                       {{i.delivered_to}}
                                    </td>
                                    <td class="product-price">{{i.contact_number}}</td>
                                    <td class="product-price">{{i.amount}}</td>

                                    <td class="product-subtotal">{{i.delivered_at}}</td>
                                    <td class="product-subtotal">{{i.payment_mode}}</td>
                                    <td class="">{{i.received_on}}</td>
                                    <td class="">
                                        <button class="btn"  onclick="change_status('{{i.id}}','{{user.username}}')" id="bt{{i.id}}">{{i.status}}</button>
                                        <script>
                                                $(function(){
                                                    let c = $('#bt{{i.id}}').html();
                                                    
                                                    if(c=='Pending'){
                                                        $('#bt{{i.id}}').addClass('btn-warning');
                                                    }else{
                                                        $('#bt{{i.id}}').addClass('btn-success');
                                                    }
                                                })
                                                </script>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form> 
                {% endif%}
            </div>
        </div>
    </div>
    <script>
    function change_status(id,username){
        $.ajax({
            url:'{% url "mysite:changestatus"%}',
            data:{id:id,un:username},
            type:'get',
            succcess:function(data){
                if(data=='Delivered'){
                    $('#bt'+id).removeClass('btn-warning').addClass('btn-success').html(data);
                }
            }
        });
    }
    </script>
{% endblock %}