{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<style>
.bg-image--18 {
  background-image: url("{% static 'images/img/background.jpg'%}");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;color:white; }
</style>
{% endblock %}
{% block body %}
<div class="ht__bradcaump__area bg-image--18">
        <div class="ht__bradcaump__wrap d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title text-light">All Restaurants</h2>
                            <nav class="bradcaump-inner text-light">
                              <a class="breadcrumb-item text-light" href="{% url 'index' %}">Home</a>
                              <span class="brd-separetor"><i class="zmdi zmdi-long-arrow-right"></i></span>
                              <span class="breadcrumb-item active text-light">All Restaurants</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section class="blog__masonery__area bg--white section-padding--lg">
        <div class="container blog__masonry__container">
            <div class="row blog__masonery__wrap">
                <div class="col-md-12">
                    <h2 class="my-2">Total {{total}} Restaurants </h2>
                </div>
                <!-- Start Single Masonry -->
                {% for i in all %}
                <div class="col-lg-4 col-md-6 col-sm-12 bl__item cat--1">
                    <div class="blog__masonry foo">
                        <div class="bl__maso__thumb">
                            <a href="{% url 'mysite:viewmenu'%}?id={{i.id}}">
                                <img src="/media/{{i.image}}" height="200" width="100%" alt="masonry images">
                            </a>
                        </div>
                        <div class="bl__mass__content">
                            <ul class="bl__maso__meta">
                                <li class="meta__light">{{i.res_type}}</li>
                                <li>Since {{i.added_on}}</li>
                            </ul>
                            <h2><a href="{% url 'mysite:viewmenu'%}?id={{i.id}}">{{i.name}}</a></h2>
                            <table class="table">
                                <tr>
                                    <th>Email</th>
                                    <td>{{i.email}}</td>
                                </tr>
                                <tr>
                                    <th>Cuisine</th>
                                    <td>{{i.cuisine}}</td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td>{{i.phone}}</td>
                                </tr>
                                <tr>
                                    <th>City</th>
                                    <td>{{i.city}}</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>{{i.address}}</td>
                                </tr>
                                <tr>
                                    <th>Open At</th>
                                    <td>{{i.open_at}}</td>
                                </tr>
                                <tr>
                                    <th>Closes At</th>
                                    <td>{{i.closes_at}}</td>
                                </tr>
                                <tr>
                                    <th colspan="2"><a href="{% url 'mysite:viewmenu'%}?id={{i.id}}" class="btn btn-block btn-outline-danger">View Full Menu</a></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- Start Single Masonry -->
                <!-- Start Single Masonry -->
            </div>
            
        </div>
    </section>
{% endblock%}